*~
*,cover
*.egg-info
*.pyc
/.*.cfg
/.coverage
/.mrsd
/.nixenv
/.requirements
/bin
/build
/coverage
/cover
/develop-eggs
/devsrc
/dist
/eggs
/eggs-mrsd
/htmlcov
/include
/lib
/man
/nixenv
/nixpkgs
/nixprofile*
/parts
/src-pip
/var
